{% extends 'layouts/app.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/personal.css' %}">
{% endblock %}
{% block content %}

    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main>
                <header class="header-personal">
                    <div class="container ontop">
                        <div class="caption text-center">
                            <h1>
                                {{ member.name }}
                            </h1>
                        </div>
                        <div class="caption str text-center">
                            <h1><span class="stroke">
                                {{ member.name }}
                            </span></h1>
                        </div>
                        <div class="img">
                            <img src="{% if member.image_png %}{{ member.image_png.url }}{% elif member.image %}{{ member.image.url }}{% else %}{% static "img/logo-w.png" %}{% endif %}" alt="">
                        </div>
                        <div class="row justify-content-center text">
                            <div class="col-lg-7 col-md-10">
                                <div class="text-center">
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias accusantium sunt fugiat consequuntur molestias libero, distinctio, consequatur, vel suscipit harum officiis. Quas cumque dolorum odio ipsa et porro amet perferendis?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </main>
        </div>
    </div>

    <section class="gray-box section-padding">
        <div class="skills">
            <div class="container pt-30 bord-thin-top">
                <div class="sec-head mb-80">
                    <div class="d-flex">
                        <div>
                            <span class="sub-head">Our Expertise</span>
                        </div>
                        <div class="ml-auto">
                            <div class="bract">{ <span>7k+ Clients</span> }</div>
                        </div>
                    </div>
                    <div class="row mt-30">
                        <div class="col-lg-7 offset-lg-3">
                            <div>
                                <h2>How we take your <br>
                                    business to the next level</h2>
                                <a href="{% url 'base:services' %}" class="butn-under mt-15">Explore Our Services <span class="icon">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg col-md-4 col-6">
                        <div class="item md-mb30">
                            <div class="box">
                                <div class="img">
                                    <img src="assets/imgs/skills/s1.png" alt="">
                                </div>
                                <h2>90%</h2>
                            </div>
                            <h6>Figma</h6>
                        </div>
                    </div>
                    <div class="col-lg col-md-4 col-6">
                        <div class="item md-mb30">
                            <div class="box">
                                <div class="img">
                                    <img src="assets/imgs/skills/s2.png" alt="">
                                </div>
                                <h2>95%</h2>
                            </div>
                            <h6>Code</h6>
                        </div>
                    </div>
                    <div class="col-lg col-md-4 col-6">
                        <div class="item md-mb30">
                            <div class="box">
                                <div class="img">
                                    <img src="assets/imgs/skills/s3.png" alt="">
                                </div>
                                <h2>88%</h2>
                            </div>
                            <h6>WordPress</h6>
                        </div>
                    </div>
                    <div class="col-lg col-md-4 col-6">
                        <div class="item sm-mb30">
                            <div class="box">
                                <div class="img">
                                    <img src="assets/imgs/skills/s4.png" alt="">
                                </div>
                                <h2>80%</h2>
                            </div>
                            <h6>Sketch</h6>
                        </div>
                    </div>
                    <div class="col-lg col-md-4 col-6">
                        <div class="item">
                            <div class="box">
                                <div class="img">
                                    <img src="assets/imgs/skills/s5.png" alt="">
                                </div>
                                <h2>96%</h2>
                            </div>
                            <h6>Photoshop</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="resume">
            <div class="container pt-30 bord-thin-top">
                <div class="sec-head mb-80">
                    <div class="d-flex">
                        <div>
                            <span class="sub-head">About Me</span>
                        </div>
                        <div class="ml-auto">
                            <div class="bract">{ <span> Creative Team </span> }</div>
                        </div>
                    </div>
                    <div class="row mt-30">
                        <div class="col-lg-7 offset-lg-3">
                            <div>
                                <h2 class="fz-60">Education & Experience.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="clumn">
                            <span class="date">2015</span>
                            <div class="item mb-40">
                                <h4>Bachelor Degree of Design</h4>
                                <p>RMIT University</p>
                            </div>
                            <div class="item">
                                <h4>UI/UX Design Certificate</h4>
                                <p>University of Houston, US</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="clumn">
                            <span class="date">2016 - 2020</span>
                            <div class="item mb-40">
                                <h4>Design Internship</h4>
                                <p>CMC Corporation, UK</p>
                            </div>
                            <div class="item mb-40">
                                <h4>Graphic Designer</h4>
                                <p>Tripadvisor Ltd, UK</p>
                            </div>
                            <div class="item mb-40">
                                <h4>Leader Graphic Design</h4>
                                <p>New Centery Media JSC, UK</p>
                            </div>
                            <div class="item mb-40">
                                <h4>Web Designer</h4>
                                <p>Freelancer</p>
                            </div>
                            <div class="item">
                                <h4>Web Designer/ Author</h4>
                                <p>Envato Market</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="clumn">
                            <span class="date">2021 - PRESENT</span>
                            <div class="item mb-40">
                                <h4>Product Designe Management</h4>
                                <p>Dribbble LLC, US</p>
                            </div>
                            <div class="item mb-40">
                                <h4>Art Director / Co-Founder</h4>
                                <p>Spotify</p>
                            </div>
                            <div class="item mb-40">
                                <h4>Founder</h4>
                                <p>iDesign Magazine</p>
                            </div>
                            <div class="item">
                                <h4>Author of The Book</h4>
                                <p>Work for Money, Design for Love</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        window.ga = window.ga || function() {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>

{% endblock %}
