{% extends "admin/layouts/app.html" %}
{% load static %}
{% block content %}

<div class="pt-8 pb-12 px-7 relative z-10
    before:absolute before:inset-0 before:opacity-[.07] before:bg-foreground before:rounded-4xl
    after:absolute after:inset-0 after:bg-[color-mix(in_oklch,_var(--color-background),_var(--color-foreground)_2%)]
    after:rounded-4xl after:border after:border-foreground/[.15] dark:after:opacity-[.59]">

    <div class="relative z-20 max-w-3xl mx-auto">
        <div class="mt-8 flex items-center">
            <h2 class="mr-auto text-lg font-medium">Edit Testimony</h2>
        </div>
        <div class="mt-5 grid grid-cols-11 gap-x-6 pb-20">
            <form method="post" class="col-span-11 2xl:col-span-11">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="box relative p-5
                    before:absolute before:inset-0 before:mx-3 before:-mb-3 before:border before:border-foreground/10
                    before:bg-background/30 before:shadow-[0px_3px_5px_#0000000b] before:z-[-1] before:rounded-xl
                    after:absolute after:inset-0 after:border after:border-foreground/10 after:bg-background
                    after:shadow-[0px_3px_5px_#0000000b] after:rounded-xl after:z-[-1] after:backdrop-blur-md mt-8">

                    <div class="rounded-lg border p-5 space-y-6">

                        <div>
                            <label for="{{ form.client.id_for_label }}" class="font-medium">Client</label>
                            {{ form.client }}
                            <p class="opacity-70 text-right text-sm text-(--color-danger)">
                                {{ form.client.errors }}
                            </p>
                        </div>

                        <div>
                            <label for="{{ form.message.id_for_label }}" class="font-medium">Message</label>
                            {{ form.message }}
                            <p class="opacity-70 text-right text-sm text-(--color-danger)">
                                {{ form.message.errors }}
                            </p>
                        </div>

                    </div>
                </div>

                <div class="mt-8 flex flex-col justify-end gap-4 md:flex-row">
                    <a href="{% url 'controller:testimonies' %}"
                       class="[--color:var(--color-foreground)] cursor-pointer inline-flex border items-center justify-center gap-2 whitespace-nowrap rounded-lg text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 text-(--color) hover:bg-(--color)/5 bg-background border-(--color)/20 h-10 px-4 box w-full py-3 md:w-64">
                        Cancel
                    </a>
                    <button type="submit"
                            class="cursor-pointer inline-flex border items-center justify-center gap-2 whitespace-nowrap rounded-lg text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-(--color)/20 border-(--color)/60 text-(--color) hover:bg-(--color)/5 [--color:var(--color-primary)] h-10 px-4 box w-full py-3 md:w-64">
                        Update Testimony
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
