{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

    <header class="serv-hed2 section-padding pb-0">
        <div class="container">
            <div class="caption mb-80">
                <h1 class="fz-80 fw-600">Digital <br /> Marketing</h1>
                <div class="row justify-content-end">
                    <div class="col-lg-5">
                        <div class="text mt-30">
                            <p>
                                At NEXCODE, we provide data-driven digital marketing solutions to help your business grow in the competitive online space. From social media management to SEO and pay-per-click (PPC) campaigns, we utilize the most effective digital marketing strategies to increase your brand visibility and drive targeted traffic to your business.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="list mt-30">
                            <ul>
                                <li>SEO (Search Engine Optimization)</li>
                                <li>Social Media Marketing (SMM)</li>
                                <li>PPC Advertising & Campaign Management</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="fit-img radius-15">
                <img src="{% static 'img/services/dm1.jpg' %}" alt="">
            </div>
        </div>
    </header>

    <section class="serv-details section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="content">
                        <h3>We combine creativity with strategy</h3>
                        <div class="text mt-30 mb-30">
                            <p>
                                At NEXCODE, we understand that digital marketing is not just about promotion—it's about building lasting relationships with your audience. By combining creative campaigns with data-driven strategies, we ensure that your marketing efforts resonate with the right people at the right time. Our approach involves using insights to optimize every campaign for maximum ROI.
                            </p>
                        </div>
                        <div class="text">
                            <p>
                                We work closely with your business to understand its goals and craft tailored marketing strategies that elevate your online presence. Our comprehensive solutions span across content creation, SEO optimization, social media engagement, and targeted advertising, ensuring that your brand stands out in a crowded marketplace.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-80">
                <div class="col-md-6">
                    <div class="img sm-mb30">
                        <img src="{% static 'img/services/dm2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img">
                        <img src="{% static 'img/services/dm3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-80">
                <div class="col-lg-7">
                    <div class="content">
                        <h3>Digital Marketing Process for Business Growth</h3>
                        <div class="text mt-30 mb-50">
                            <p>
                                Our digital marketing process is designed to align with your business goals while enhancing your digital presence. Here’s a glimpse of how we build and implement effective strategies for sustained online growth.
                            </p>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item active">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse2"
                                        aria-expanded="false" aria-controls="collapse2">
                                        <span>1.</span>Market Research & Analysis
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse show"
                                    aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We conduct thorough market research and analysis to understand your target audience, industry trends, and competitors, ensuring that our strategies are informed and impactful.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse1" aria-expanded="true"
                                        aria-controls="collapse1">
                                        <span>2.</span>SEO Strategy & Implementation
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse"
                                    aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We create and implement customized SEO strategies to increase your website’s visibility, improve rankings, and drive organic traffic to your site.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse3"
                                        aria-expanded="false" aria-controls="collapse3">
                                        <span>3.</span>Social Media Marketing
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse"
                                    aria-labelledby="heading3" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We design and manage impactful social media campaigns that boost engagement, enhance brand awareness, and cultivate meaningful interactions with your audience.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse4"
                                        aria-expanded="false" aria-controls="collapse4">
                                        <span>4.</span>PPC Campaign Management
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse"
                                    aria-labelledby="heading4" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We manage pay-per-click (PPC) campaigns, optimizing your ad spend to drive targeted traffic and achieve maximum ROI through platforms like Google Ads and social media ads.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading5">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse5"
                                        aria-expanded="false" aria-controls="collapse5">
                                        <span>5.</span>Analytics & Performance Tracking
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse"
                                    aria-labelledby="heading5" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We provide in-depth analytics and performance tracking to measure the success of each campaign, making data-driven adjustments to continually improve your marketing efforts.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'base:services' %}" class="crv-butn mt-80">
                                <div class="d-flex">
                                    <span class="text">View all services</span>
                                    <span class="icon">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-pg section-padding pt-0">
        <div class="container">
            <div class="text-center">
                <div class="caption mb-100">
                    <h1>Pricing</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="item md-mb50">
                        <div class="head text-center pb-40 bord-thin-bottom-light">
                            <h6 class="text-u fz-20 mb-40">Basic pack</h6>
                        </div>
                        <div class="list mt-40">
                            <ul class="rest">
                                <li>Ideal for startups or small businesses looking for essential digital marketing solutions.</li>
                                <li>Basic SEO services with on-page optimization.</li>
                                <li>Social media account setup and basic management.</li>
                                <li>1 PPC campaign setup with limited budget.</li>
                                <li>1 round of performance review.</li>
                            </ul>
                        </div>
                        <div class="text-center mt-40">
                            <a href="#0" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Get Started</span>
                                    <span class="icon invert ml-10">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item md-mb50">
                        <div class="head text-center pb-40 bord-thin-bottom-light">
                            <h6 class="text-u fz-20 mb-40">Standard pack</h6>
                        </div>
                        <div class="list mt-40">
                            <ul class="rest">
                                <li>Advanced SEO strategy with off-page optimization.</li>
                                <li>Social media marketing campaigns and regular updates.</li>
                                <li>3 PPC campaigns with performance tracking.</li>
                                <li>1 month of ongoing performance analysis and improvements.</li>
                            </ul>
                        </div>
                        <div class="text-center mt-40">
                            <a href="#0" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Get Started</span>
                                    <span class="icon invert ml-10">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="head text-center pb-40 bord-thin-bottom-light">
                            <h6 class="text-u fz-20 mb-40">Premium pack</h6>
                        </div>
                        <div class="list mt-40">
                            <ul class="rest">
                                <li>Comprehensive digital marketing strategy with ongoing SEO, SMM, and PPC management.</li>
                                <li>Unlimited social media content creation and engagement.</li>
                                <li>Customized PPC campaigns with detailed analytics.</li>
                                <li>Continuous performance tracking and reporting.</li>
                            </ul>
                        </div>
                        <div class="text-center mt-40">
                            <a href="#0" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Get Started</span>
                                    <span class="icon invert ml-10">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
