{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

    <header class="header-pg">
        <div class="container">
            <div class="text-center">
                <div class="caption mb-100">
                    <h1>Our Services</h1>
                    <h6>( <a href="#0">Home</a> - <span>Our Services</span> )</h6>
                </div>
            </div>
        </div>
    </header>

    <section class="intro section-padding pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="text-center position-re">
                        <h2>
                            An independent <span>web design</span> and <span>branding agency</span> in
                            Rwanda set up in 2020 who care, build relationships, have industry
                            experience.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services-cst section-padding pt-0">
        <div class="container">
            <div class="sec-sm-head text-center mb-30">
                <div class="bract">{ <span>Our Services</span> }</div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">001</span>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    Building powerful software tailored to your business needs, ensuring seamless performance and innovation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Software Development</h2>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:contact' %}?service=Software%20development" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item active">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">002</span>
                            </div>
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">UI/UX</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <p>
                                    Crafting stunning and intuitive designs that captivate users and enhance their digital experience.
                                </p>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:contact' %}?service=UI%2FUX%20design" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">003</span>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    Optimizing your infrastructure with reliable, scalable networking solutions that enhance connectivity and performance across your business operations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Networking</h2>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:contact' %}?service=Networking" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">004</span>
                            </div>
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Mobile App Development</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <p>
                                    Creating feature-rich mobile applications that deliver exceptional user experiences on any device.
                                </p>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:contact' %}?service=Mobile%20development" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">005</span>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    Elevating your brand with strategic marketing campaigns that boost visibility and drive engagement.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Digital Marketing</h2>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:contact' %}?service=Digital%20marketing" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">006</span>
                            </div>
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Maintenance</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <p>
                                    Ensuring seamless operations with proactive maintenance services that enhance system performance, reduce downtime, and extend the lifespan of your technology.
                                </p>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:contact' %}?service=Maintenance" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faqs-pg section-padding pt-0">
        <div class="container">
            <div class="row lg-marg">
                <div class="col-lg-5 md-mb30">
                    <div class="fit-img img">
                        <img src="{% static 'img/faq.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 pt-30 pb-30">
                    <div class="sec-head mb-60">
                        <h6 class="sub-head mb-15">Questions & Answers</h6>
                        <h2>Providing clarity on FAQs</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item active">
                                    <h4 class="accordion-header" id="heading2">
                                        <button class="accordion-button collapsed" type="button"
                                            style="font-size: 20px;"
                                            data-bs-toggle="collapse" data-bs-target="#collapse2"
                                            aria-expanded="false" aria-controls="collapse2">
                                            What services does NEXCODE provide?
                                        </button>
                                    </h4>
                                    <div id="collapse2" class="accordion-collapse collapse show"
                                        aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>
                                                NEXCODE offers comprehensive solutions including software development, UI/UX design, mobile app development, and strategic digital marketing to help your business thrive in the digital landscape.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button"
                                            style="font-size: 20px;"
                                            data-bs-toggle="collapse" data-bs-target="#collapse3"
                                            aria-expanded="false" aria-controls="collapse3">
                                            How does NEXCODE ensure project quality?
                                        </button>
                                    </h4>
                                    <div id="collapse3" class="accordion-collapse collapse"
                                        aria-labelledby="heading3" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>
                                                At NEXCODE, we implement rigorous quality assurance processes, leverage industry best practices, and collaborate closely with clients to deliver high-quality, reliable, and scalable digital solutions.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button"
                                            style="font-size: 20px;"
                                            data-bs-toggle="collapse" data-bs-target="#collapse4"
                                            aria-expanded="false" aria-controls="collapse3">
                                            What is the typical timeline for a project with NEXCODE?
                                        </button>
                                    </h4>
                                    <div id="collapse4" class="accordion-collapse collapse"
                                        aria-labelledby="heading4" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>
                                                Project timelines at NEXCODE vary based on scope and complexity. We provide a detailed project plan with milestones and deadlines to ensure timely delivery while maintaining the highest standards of quality.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button"
                                            style="font-size: 20px;"
                                            data-bs-toggle="collapse" data-bs-target="#collapse5"
                                            aria-expanded="false" aria-controls="collapse3">
                                            How does NEXCODE approach UI/UX design?
                                        </button>
                                    </h4>
                                    <div id="collapse5" class="accordion-collapse collapse"
                                        aria-labelledby="heading5" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>
                                                NEXCODE focuses on creating intuitive and engaging user experiences by conducting thorough research, user testing, and iterative design processes to ensure our UI/UX solutions meet both user needs and business objectives.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="heading1">
                                        <button class="accordion-button collapsed" type="button"
                                            style="font-size: 20px;"
                                            data-bs-toggle="collapse" data-bs-target="#collapse1"
                                            aria-expanded="false" aria-controls="collapse3">
                                            How can I get started with NEXCODE?
                                        </button>
                                    </h4>
                                    <div id="collapse1" class="accordion-collapse collapse"
                                        aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>
                                                Getting started with NEXCODE is simple. Contact us through our website or reach out via email to schedule a consultation. Our team will work with you to understand your requirements and develop a tailored plan to achieve your digital goals.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}

    <script>
        $(function () {

			"use strict";

			var team = new Swiper(".team-marq .team-swiper", {
				slidesPerView: 4,
				spaceBetween: 50,
				centeredSlides: true,
				speed: 8000,
				autoplay: {
					delay: 0,
				},
				loop: true,
				allowTouchMove: false,
				disableOnInteraction: true,
				breakpoints: {
					0: {
						slidesPerView: 2,
					},
					480: {
						slidesPerView: 2,
					},
					787: {
						slidesPerView: 3,
					},
					991: {
						slidesPerView: 4,
					},
					1200: {
						slidesPerView: 4,
					}
				}
			});

			$('.accordion .accordion-item').on('click', function () {
				$(this).addClass("active").siblings().removeClass("active");
			});

			// Services active

			$('.services-cst .item').on('mouseenter', function () {
				$('.services-cst .item').removeClass('active');
				$(this).addClass('active');

				if ($(this).hasClass('active')) {
					return false;
				}
			});

			$(function () {
				let cards = gsap.utils.toArray(".cards .card-item");

				let stickDistance = 0;

				let firstCardST = ScrollTrigger.create({
					trigger: cards[0],
					start: "center center"
				});

				let lastCardST = ScrollTrigger.create({
					trigger: cards[cards.length - 1],
					start: "bottom bottom"
				});

				cards.forEach((card, index) => {
					var scale = 1 - (cards.length - index) * 0.025;
					let scaleDown = gsap.to(card, { scale: scale, 'transform-origin': '"50% ' + (lastCardST.start + stickDistance) + '"' });

					ScrollTrigger.create({
						trigger: card,
						start: "center center",
						end: () => lastCardST.start + stickDistance,
						pin: true,
						pinSpacing: false,
						ease: "none",
						animation: scaleDown,
						toggleActions: "restart none none reverse"
					});
				});
			});

		});
    </script>

{% endblock js %}