{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

    <header class="serv-hed2 section-padding pb-0">
        <div class="container">
            <div class="caption mb-80">
                <h1 class="fz-80 fw-600">Software <br /> Development</h1>
                <div class="row justify-content-end">
                    <div class="col-lg-5">
                        <div class="text mt-30">
                            <p>
                                At NEXCODE, we specialize in providing tailor-made software development services designed to solve your unique business challenges. Our professional team takes a meticulous approach to the development process, ensuring that every solution is efficient, scalable, and future-proof.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="list mt-30">
                            <ul>
                                <li>Custom Software Solutions</li>
                                <li>Enterprise Application Development</li>
                                <li>Software Integration and API Development</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="fit-img radius-15">
                <img src="{% static 'img/team/team1.jpg' %}" alt="">
            </div>
        </div>
    </header>

    <section class="serv-details section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="content">
                        <h3>We combine our passion</h3>
                        <div class="text mt-30 mb-30">
                            <p>
                                At NEXCODE, we are driven by a deep passion for innovation and technology. We believe that the best solutions arise from a blend of creativity, technical expertise, and a genuine desire to solve complex problems. Our team is dedicated to pushing the boundaries of what's possible, constantly exploring new technologies and methodologies to deliver cutting-edge solutions that exceed client expectations.
                            </p>
                        </div>
                        <div class="text">
                            <p>
                                This passion fuels every aspect of our work, from the initial concept to the final implementation. We approach each project with enthusiasm and a commitment to excellence, ensuring that every solution is not only functional but also impactful. By combining our expertise and passion, we create powerful tools that empower businesses to thrive in a digital-first world.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-80">
                <div class="col-md-6">
                    <div class="img sm-mb30">
                        <img src="{% static 'img/team/team3.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img">
                        <img src="{% static 'img/team/team4.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-80">
                <div class="col-lg-7">
                    <div class="content">
                        <h3>Product making for friendly users</h3>
                        <div class="text mt-30 mb-50">
                            <p>
                                At NEXCODE, we design and develop products with a user-centric approach, ensuring that every feature is intuitive, accessible, and easy to use. Our goal is to create solutions that provide an outstanding experience for your users, driving engagement and satisfaction.
                            </p>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item active">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse2"
                                        aria-expanded="false" aria-controls="collapse2">
                                        <span>1.</span>User Research
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse show"
                                    aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We gather insights into user needs and behaviors to inform the design process, ensuring the product aligns with real-world expectations.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse1" aria-expanded="true"
                                        aria-controls="collapse1">
                                        <span>2.</span>Wireframing & Prototyping
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse"
                                    aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We create low-fidelity wireframes and interactive prototypes to visualize the user interface, focusing on simplicity and usability.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse3"
                                        aria-expanded="false" aria-controls="collapse3">
                                        <span>3.</span>UI/UX Design
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse"
                                    aria-labelledby="heading3" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Our design team refines the interface to be visually appealing while maintaining a seamless user experience, ensuring ease of navigation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse4"
                                        aria-expanded="false" aria-controls="collapse4">
                                        <span>4.</span>Development
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse"
                                    aria-labelledby="heading4" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Our developers bring the design to life by writing efficient code and implementing features that ensure smooth functionality.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading5">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse5"
                                        aria-expanded="false" aria-controls="collapse5">
                                        <span>5.</span>User Testing
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse"
                                    aria-labelledby="heading5" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We conduct thorough user testing to identify pain points and make necessary adjustments, ensuring the product is both intuitive and effective.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading6">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse6"
                                        aria-expanded="false" aria-controls="collapse6">
                                        <span>6.</span>Launch & Feedback
                                    </button>
                                </h2>
                                <div id="collapse6" class="accordion-collapse collapse"
                                    aria-labelledby="heading6" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            After launching, we continue to collect feedback to refine the product further, ensuring it remains user-friendly and up-to-date.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'base:services' %}" class="crv-butn mt-80">
                                <div class="d-flex">
                                    <span class="text">View all services</span>
                                    <span class="icon">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="pricing-pg section-padding pt-0">
        <div class="container">
            <div class="text-center">
                <div class="caption mb-100">
                    <h1>Pricing</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="item md-mb50">
                        <div class="head text-center pb-40 bord-thin-bottom-light">
                            <h6 class="text-u fz-20 mb-40">Basic pack</h6>
                            <!-- <h2 class="fz-70 mb-5">$9.99</h2> -->
                        </div>
                        <div class="list mt-40">
                            <ul class="rest">
                                <li>Ideal for startups or small businesses looking for essential solutions.</li>
                                <li>Includes basic software features for immediate use.</li>
                                <li>Basic user interface design with minimal customization.</li>
                                <li>Up to 1-2 integrations with existing systems.</li>
                                <li>Limited post-launch support (30 days).</li>
                                <li>1 round of revisions after initial delivery.</li>
                            </ul>
                        </div>
                        <div class="text-center mt-40">
                            <a href="#0" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Get Started</span>
                                    <span class="icon invert ml-10">
                                        <img src=".https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item md-mb50">
                        <div class="head text-center pb-40 bord-thin-bottom-light">
                            <h6 class="text-u fz-20 mb-40">Standard pack</h6>
                            <!-- <h2 class="fz-70 mb-5">$29.99</h2> -->
                        </div>
                        <div class="list mt-40">
                            <ul class="rest">
                                <li>Perfect for growing businesses that require more robust features.</li>
                                <li>Includes advanced software functionalities and customizations.</li>
                                <li>Enhanced user interface design and experience.</li>
                                <li>Up to 3-5 integrations with external systems.</li>
                                <li>Ongoing post-launch support (3 months).</li>
                                <li>2 rounds of revisions after initial delivery.</li>
                                <li>Regular performance monitoring for optimal functionality.</li>
                            </ul>
                        </div>
                        <div class="text-center mt-40">
                            <a href="#0" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Get Started</span>
                                    <span class="icon invert ml-10">
                                        <img src=".https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="head text-center pb-40 bord-thin-bottom-light">
                            <h6 class="text-u fz-20 mb-40">Premium pack</h6>
                            <!-- <h2 class="fz-70 mb-5">$49.99</h2> -->
                        </div>
                        <div class="list mt-40">
                            <ul class="rest">
                                <li>Comprehensive solution for businesses seeking top-tier features.</li>
                                <li>Includes full customization and advanced software capabilities.</li>
                                <li>Premium user interface design with tailored user experiences.</li>
                                <li>Unlimited integrations with third-party systems.</li>
                                <li>Extended post-launch support (6 months).</li>
                                <li>Unlimited revisions and feature updates.</li>
                                <li>Priority support and dedicated project management.</li>
                            </ul>
                        </div>
                        <div class="text-center mt-40">
                            <a href="#0" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Get Started</span>
                                    <span class="icon invert ml-10">
                                        <img src=".https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}