<ul class="top-menu transition-[margin] duration-200 w-[275px] xl:w-auto h-screen xl:h-auto z-50 xl:z-0 top-0 left-0 fixed xl:relative z-10 overflow-y-auto xl:overflow-y-visible -ml-[275px] [&.top-menu--mobile-menu-open]:ml-0 xl:ml-0 before:content-[''] before:fixed before:hidden [&.top-menu--mobile-menu-open]:before:block before:inset-0 before:bg-black/80 dark:before:bg-foreground/5 before:backdrop-blur before:xl:hidden after:content-[''] after:transition-[margin] after:duration-200 after:-ml-[275px] [&.top-menu--mobile-menu-open]:after:ml-0 after:fixed after:w-[275px] after:inset-0 after:bg-primary after:xl:hidden dark:after:bg-background after:bg-noise">
    <li>
        <a href="#" class="top-menu__link top-menu__link--active">
            <div class="top-menu__link__icon">
                <span class="size-4 stroke-[1.5] [--color:currentColor] stroke-(--color) fill-(--color)/25">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M15.6 2.7a10 10 0 1 0 5.7 5.7" />
                            <circle cx="12" cy="12" r="2" />
                            <path d="M13.4 10.6L19 5" />
                        </g>
                    </svg>
                </span>
            </div>
            <div class="top-menu__link__title">
                Dashboard
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="top-menu__link">
            <div class="top-menu__link__icon">
                <span class="size-4 stroke-[1.5] [--color:currentColor] stroke-(--color) fill-(--color)/25">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 48 48">
                        <g fill="none" stroke="#fff" stroke-width="3">
                            <path stroke-linejoin="round" d="M3.539 39.743c.208 2.555 2.163 4.51 4.718 4.718C11.485 44.723 16.636 45 24 45s12.515-.277 15.743-.539c2.555-.208 4.51-2.163 4.718-4.718C44.723 36.515 45 31.364 45 24s-.277-12.515-.539-15.743c-.208-2.555-2.163-4.51-4.718-4.718C36.515 3.277 31.364 3 24 3s-12.515.277-15.743.539c-2.555.208-4.51 2.163-4.718 4.718C3.277 11.485 3 16.636 3 24s.277 12.515.539 15.743Z" />
                            <path stroke-linecap="round" d="M3.5 13.5h41" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10 8.5h2m6 0h2" />
                        </g>
                    </svg>
                </span>
            </div>
            <div class="top-menu__link__title">
                Projects
            </div>
        </a>
    </li>
</ul>