{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="NEXCODE">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>
        NEXCODE
    </title>
    <link rel="stylesheet" href="{% static 'admin/css/vector-map.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/top-menu.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/simplebar.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/app.css' %}">
</head>
<body>

    <div class="page-loader bg-background fixed inset-0 z-[100] flex items-center justify-center transition-opacity">
        <div class="loader-spinner !w-14"></div>
    </div>
    <div class="rubick min-h-screen dark:bg-background before:bg-primary dark:before:bg-foreground/[.01] before:fixed before:inset-0 before:bg-noise after:bg-accent after:bg-contain after:fixed after:inset-0 after:blur-xl dark:after:opacity-20 [--color-nav-foreground:var(--color-background)] dark:[--color-nav-foreground:var(--color-foreground)]">
        
        {% include 'admin/components/top-header.html' %}
        
        <div class="mt-5 p-4">
            <div class="close-mobile-menu fixed ml-[275px] top-0 xl:hidden z-60 cursor-pointer text-background dark:text-foreground [&.close-mobile-menu--mobile-menu-open]:block hidden">
                <div class="ml-5 mt-5 flex size-10 items-center justify-center">
                    <span class="[--color:currentColor] stroke-(--color) fill-(--color)/25 size-7 stroke-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                                <path fill="currentColor" d="m12 14.122l5.303 5.303a1.5 1.5 0 0 0 2.122-2.122L14.12 12l5.304-5.303a1.5 1.5 0 1 0-2.122-2.121L12 9.879L6.697 4.576a1.5 1.5 0 1 0-2.122 2.12L9.88 12l-5.304 5.304a1.5 1.5 0 1 0 2.122 2.12z" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>

            {% include 'admin/components/sidebar.html' %}

            {% block content %}{% endblock %}

        </div>
    </div>

    <script src="{% static 'admin/js/dom.js' %}"></script>
    <script src="{% static 'admin/js/lucide.js' %}"></script>
    <script src="{% static 'admin/js/tippy.js' %}"></script>
    <script src="{% static 'admin/js/dayjs.js' %}"></script>
    <script src="{% static 'admin/js/easepick.js' %}"></script>
    <script src="{% static 'admin/js/popper.js' %}"></script>
    <script src="{% static 'admin/js/dropdown.js' %}"></script>
    <script src="{% static 'admin/js/chartjs.js' %}"></script>
    <script src="{% static 'admin/js/vector-map.js' %}"></script>
    <script src="{% static 'admin/js/tiny-slider.js' %}"></script>
    <script src="{% static 'admin/js/modal.js' %}"></script>
    <script src="{% static 'admin/js/simplebar.js' %}"></script>
    <script src="{% static 'admin/js/page-loader.js' %}"></script>
    <script src="{% static 'admin/js/lucide.js' %}"></script>
    <script src="{% static 'admin/js/tippy.js' %}"></script>
    <script src="{% static 'admin/js/easepick.js' %}"></script>
    <script src="{% static 'admin/js/report-line-chart.js' %}"></script>
    <script src="{% static 'admin/js/report-pie-chart.js' %}"></script>
    <script src="{% static 'admin/js/report-donut-chart.js' %}"></script>
    <script src="{% static 'admin/js/vector-map.js' %}"></script>
    <script src="{% static 'admin/js/report-donut-chart-1.js' %}"></script>
    <script src="{% static 'admin/js/simple-line-chart-1.js' %}"></script>
    <script src="{% static 'admin/js/tiny-slider.js' %}"></script>
    <script src="{% static 'admin/js/rubick.js' %}"></script>
    <script src="{% static 'admin/js/helper.js' %}"></script>
    <script src="{% static 'admin/js/pages/dashboard.js' %}"></script>
</body>
</html>
