{% extends 'layouts/app.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}
{% block content %}

    {% include 'inc/hero.html' %}

    <section class="intro section-padding pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="text-center position-re">
                        <h2>
                            An independent <span>web design</span> and <span>branding agency</span> in
                            Rwanda set up in 2020 who care, build relationships, have industry
                            experience.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services-cst section-padding pt-0">
        <div class="container">
            <div class="sec-sm-head text-center mb-30">
                <div class="bract">{ <span>Our Services</span> }</div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">001</span>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur <br> adipisicing elit. Similique, dolor!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Software Development</h2>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="#0" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item active">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">002</span>
                            </div>
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">UI/UX</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <p>Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit. Possimus, deleniti.</p>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="#0" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">003</span>
                            </div>
                            <div class="col-md-8">
                                <p>Lorem ipsum, dolor sit amet consectetur <br> adipisicing elit. Molestiae, modi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Digital Marketing</h2>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="#0" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">004</span>
                            </div>
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Mobile App Development</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <p>Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Porro, vitae!</p>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="#0" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gray-box section-padding">

        <!-- ==================== Start Team ==================== -->

        <div class="team-min">
            <div class="container pt-30 bord-thin-top">
                <div class="sec-head mb-80">
                    <div class="d-flex">
                        <div>
                            <span class="sub-head">About Us</span>
                        </div>
                        <div class="ml-auto">
                            <div class="bract">{ <span> Creative Team </span> }</div>
                        </div>
                    </div>
                    <div class="row mt-30">
                        <div class="col-lg-7 offset-lg-3">
                            <div>
                                <h2 class="fz-60">Top Digital Design Talent
                                    to Satisfy Your Every Creative
                                    Whim. Committed. Precise.</h2>
                                <a href="#0" class="butn-under mt-15">View All Works <span class="icon">
                                        <img src="../common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-100">
                    <div class="col-lg-3 col-md-8 col-9 md-mb50">
                        <div class="text-u fz-15">
                            <span>SOLVING COMPLEX DESIGN <br> PROBLEMS AT A RACE <br> CAR SPEED.</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-3">
                        <div class="text-u fz-15 opacity-7">
                            <span>EST.2013</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text">
                            <p>We cater to the creative needs of the broadest range of clients. Whether you
                                are a development agency looking to outsource design work, a company in
                                search of a Product Designer or Product Team, a marketing agency that needs
                                a landing page, a startup that wants to launch an app, or an enterprise that
                                plans to rebrand or redesign its website, we welcome any challenge with our
                                arms wide open.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>

        gsap.registerPlugin(ScrollTrigger);

        // --- ORANGE PANEL ---

        const tl = gsap.timeline({
            scrollTrigger: {
                trigger: ".imgWrapper",
                scrub: true,
                pin: true,
                start: "40% 50%",
                end: "+=100%",
            }
        })

            .to(".imgWrapper .main-img", {
                clipPath: 'inset(0% 0%)',
                scale: 1,
                ease: 'Linear.easeNone'
            })
    </script>
{% endblock %}