{% extends 'layouts/app.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}
{% block content %}

    {% include 'inc/hero.html' %}

    <section class="intro section-padding pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="text-center position-re">
                        <h2>
                            An independent <span>web design</span> and <span>branding agency</span> in
                            Rwanda set up in 2020 who care, build relationships, have industry
                            experience.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services-cst section-padding pt-0">
        <div class="container">
            <div class="sec-sm-head text-center mb-30">
                <div class="bract">{ <span>Our Services</span> }</div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">001</span>
                            </div>
                            <div class="col-md-8">
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur <br> adipisicing elit. Similique, dolor!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Software Development</h2>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:softwareDev' %}" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item active">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">002</span>
                            </div>
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">UI/UX</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <p>Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit. Possimus, deleniti.</p>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:uiUx' %}" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">003</span>
                            </div>
                            <div class="col-md-8">
                                <p>Lorem ipsum, dolor sit amet consectetur <br> adipisicing elit. Molestiae, modi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Digital Marketing</h2>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:digitalMarketing' %}" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4">
                                <span class="numb">004</span>
                            </div>
                            <div class="col-md-8">
                                <h2 style="font-size: 30px">Mobile App Development</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <p>Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Porro, vitae!</p>
                            </div>
                            <div class="col-md-4 d-flex">
                                <a href="{% url 'base:mobileDev' %}" class="ml-auto">
                                    <span class="icon invert">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="works-mp section-padding pt-0">
        <div class="container-xxl">
            <div class="sec-head mb-80">
                <div class="d-flex">
                    <div>
                        <span class="sub-head">Selected Work</span>
                    </div>
                    <div class="ml-auto">
                        <div class="bract">{ <span>2020 - 2024</span> }</div>
                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-lg-5 offset-lg-3 col-md-7">
                        <div class="sm-mb30">
                            <h2>Our Work <br>
                                & Case Studies</h2>
                            <a href="#0" class="butn-under mt-15">View All Works <span class="icon invert">
                                    <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                </span></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <div class="text">
                            <span>Creating forms that last. <br>
                                <span class="opacity-5 mt-10">Echo the heart of businesses.</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gallery">
                <div class="col-lg-3 items">
                    <div class="item">
                        <div class="cont d-flex align-items-center">
                            <div>
                                <h5>Swat Co.</h5>
                                <span>branding, ui/ux design</span>
                            </div>
                            <div class="ml-auto">
                                <a href="#0">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="img">
                            <img src="https://uithemez.com/i/kyan/inner-pages/assets/imgs/portfolio/works2/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="team-pg pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="item mb-40">
                        <div class="img fit-img">
                            <img src="https://uithemez.com/i/kyan/inner-pages/assets/imgs/team/avatar1.jpg" alt="">
                            <div class="social-icon">
                                <a href="#0">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                <a href="#0">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="#0">
                                    <i class="fa-brands fa-dribbble"></i>
                                </a>
                            </div>
                        </div>
                        <div class="cont text-center">
                            <h6>Thomas Tatum</h6>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-pg section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="item md-mb50">
                        <div class="head text-center pb-40 bord-thin-bottom-light">
                            <h6 class="text-u fz-20 mb-40">Basic pack</h6>
                            <h2 class="fz-70 mb-5">$9.99</h2>
                            <span class="sub-color">Per Month</span>
                        </div>
                        <div class="list mt-40">
                            <ul class="rest">
                                <li>Adipiscing elit sed do.</li>
                                <li>Eusmod tempor incididunt ut.</li>
                                <li>labore et dolore magna.</li>
                            </ul>
                        </div>
                        <div class="text-center mt-40">
                            <a href="#0" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Get Started</span>
                                    <span class="icon invert ml-10">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item md-mb50">
                        <div class="head text-center pb-40 bord-thin-bottom-light">
                            <h6 class="text-u fz-20 mb-40">Standard pack</h6>
                            <h2 class="fz-70 mb-5">$29.99</h2>
                            <span class="sub-color">Per Month</span>
                        </div>
                        <div class="list mt-40">
                            <ul class="rest">
                                <li>Adipiscing elit sed do.</li>
                                <li>Eusmod tempor incididunt ut.</li>
                                <li>labore et dolore magna.</li>
                            </ul>
                        </div>
                        <div class="text-center mt-40">
                            <a href="#0" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Get Started</span>
                                    <span class="icon invert ml-10">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="head text-center pb-40 bord-thin-bottom-light">
                            <h6 class="text-u fz-20 mb-40">Premium pack</h6>
                            <h2 class="fz-70 mb-5">$49.99</h2>
                            <span class="sub-color">Per Month</span>
                        </div>
                        <div class="list mt-40">
                            <ul class="rest">
                                <li>Adipiscing elit sed do.</li>
                                <li>Eusmod tempor incididunt ut.</li>
                                <li>labore et dolore magna.</li>
                            </ul>
                        </div>
                        <div class="text-center mt-40">
                            <a href="#0" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Get Started</span>
                                    <span class="icon invert ml-10">
                                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="faqs-pg section-padding pt-0">
        <div class="container">
            <div class="row lg-marg">
                <div class="col-lg-5 md-mb30">
                    <div class="fit-img img">
                        <img src="https://uithemez.com/i/kyan/inner-pages/assets/imgs/faqs.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7 pt-30 pb-30">
                    <div class="sec-head mb-60">
                        <h6 class="sub-head mb-15">Questions & Answers</h6>
                        <h2>Providing clarity on frequently asked questions</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item active">
                                    <h4 class="accordion-header" id="heading2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse2"
                                            aria-expanded="false" aria-controls="collapse2">
                                            Why’s Hubfolio instead of full-time designer?
                                        </button>
                                    </h4>
                                    <div id="collapse2" class="accordion-collapse collapse show"
                                        aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>How quick is quick? For most design, we’re talking 2-3
                                                business days.
                                                We balance speed with quality,ensuring you get top-north
                                                design
                                                swiftly</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse3"
                                            aria-expanded="false" aria-controls="collapse3">
                                            Speed of design delivery?
                                        </button>
                                    </h4>
                                    <div id="collapse3" class="accordion-collapse collapse"
                                        aria-labelledby="heading3" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>How quick is quick? For most design, we’re talking 2-3
                                                business days.
                                                We balance speed with quality,ensuring you get top-north
                                                design
                                                swiftly</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse4"
                                            aria-expanded="false" aria-controls="collapse3">
                                            What’s the Hubfolio progress like?
                                        </button>
                                    </h4>
                                    <div id="collapse4" class="accordion-collapse collapse"
                                        aria-labelledby="heading4" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>How quick is quick? For most design, we’re talking 2-3
                                                business days.
                                                We balance speed with quality,ensuring you get top-north
                                                design
                                                swiftly</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse5"
                                            aria-expanded="false" aria-controls="collapse3">
                                            How to request a design?
                                        </button>
                                    </h4>
                                    <div id="collapse5" class="accordion-collapse collapse"
                                        aria-labelledby="heading5" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>How quick is quick? For most design, we’re talking 2-3
                                                business days.
                                                We balance speed with quality,ensuring you get top-north
                                                design
                                                swiftly</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script>

        gsap.registerPlugin(ScrollTrigger);

        // --- ORANGE PANEL ---

        const tl = gsap.timeline({
            scrollTrigger: {
                trigger: ".imgWrapper",
                scrub: true,
                pin: true,
                start: "40% 50%",
                end: "+=100%",
            }
        })

            .to(".imgWrapper .main-img", {
                clipPath: 'inset(0% 0%)',
                scale: 1,
                ease: 'Linear.easeNone'
            })

        $(function () {

            "use strict";

            if (window.innerWidth > 991) {
                const tl = gsap.timeline({
                    scrollTrigger: {
                        trigger: ".testimonials-ca .sec-head",
                        start: "top",
                        endTrigger: ".testimonials-ca .container",
                        end: "bottom bottom",
                        pin: true,
                        pinSpacing: false
                    }
                });
            }

            gsap.registerPlugin(ScrollTrigger);

            ScrollTrigger.create({
                trigger: ".work-ca .sec-lg-head",
                start: "center center",
                endTrigger: ".work-ca",
                end: "bottom bottom",
                pin: true,
            });

            // Services active

            $('.services-cst .item').on('mouseenter', function () {
                $('.services-cst .item').removeClass('active');
                $(this).addClass('active');

                if ($(this).hasClass('active')) {
                    return false;
                }
            });

        });


        $(function () {
            var width = $(window).width();
            if (width > 991) {

                "use strict";

                $(function () {
                    let cards = gsap.utils.toArray(".cards .card-item");

                    let stickDistance = 0;

                    let firstCardST = ScrollTrigger.create({
                        trigger: cards[0],
                        start: "center center"
                    });

                    let lastCardST = ScrollTrigger.create({
                        trigger: cards[cards.length - 1],
                        start: "bottom bottom"
                    });

                    cards.forEach((card, index) => {
                        var scale = 1 - (cards.length - index) * 0;
                        let scaleDown = gsap.to(card, { scale: scale, 'transform-origin': '"50% ' + (lastCardST.start + stickDistance) + '"' });

                        ScrollTrigger.create({
                            trigger: card,
                            start: "center center",
                            end: () => lastCardST.start + stickDistance,
                            pin: true,
                            pinSpacing: false,
                            ease: "none",
                            animation: scaleDown,
                            toggleActions: "restart none none reverse"
                        });
                    });
                });

            }
        });

    </script>
{% endblock %}