{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

    <header class="header-pg">
        <div class="container">
            <div class="text-center">
                <div class="caption mb-100">
                    <h1>Portfolio</h1>
                    <h6>( <a href="#0">Home</a> - <span>Portfolio</span> )</h6>
                </div>
            </div>
        </div>
    </header>

    <section class="work-card section-padding pt-0">
        <div class="container">
            <div class="cards">
                {% for work in porfolio %}
                    <div class="card-item">
                        <div class="d-lg-flex align-items-end">
                            <div>
                                <div class="tags">
                                    {% for tag in work.tags.all %}
                                        <a href="#0">
                                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                                <h3 class="title">
                                    <a href="#">{{ work.name }}.</a>
                                </h3>
                            </div>
                            <div class="ml-auto">
                                <a href="#" class="butn butn-md butn-bord butn-rounded">
                                    <div class="d-flex align-items-center">
                                        <span>View Project</span>
                                        <span class="icon invert ml-10">
                                            <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="img fit-img mt-30">
                            <img src="{{ work.big_image.url }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}