{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

    <header class="header-pg">
        <div class="container">
            <div class="text-center">
                <div class="caption mb-100">
                    <h1>Team</h1>
                    <h6>( <a href="#0">Home</a> - <span>Team</span> )</h6>
                </div>
            </div>
        </div>
    </header>

    <section class="team-pg pb-100">
        <div class="container">
            <div class="row">
                {% for member in team %}
                    <div class="col-lg-3 col-md-6">
                        <div class="item mb-40">
                            <div class="img fit-img">
                                <img src="{{ member.image.url }}" alt="">
                                <div class="social-icon">
                                    <a href="#0">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </a>
                                    <a href="#0">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                    <a href="#0">
                                        <i class="fa-brands fa-dribbble"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="cont text-center">
                                <h6>{{ member.name }}</h6>
                                <p>{{ member.position }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}