{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

<header class="header-pg">
    <div class="container">
        <div class="text-center">
            <div class="caption mb-100">
                <h1>Share Your Testimony</h1>
                <h6>( <a href="{% url 'base:home' %}">Home</a> - <span>Testimony</span> )</h6>
            </div>
        </div>
    </div>
</header>

<section class="testimony-pg section-padding">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="sec-head mb-50">
                    <h6 class="sub-head">Share Your <span class="fw-200">Testimony</span></h6>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="controls row">
                        <div class="col-12 form-group">
                            {{ form.name.label_tag }} {{ form.name }}
                        </div>
                        <div class="col-12 form-group">
                            {{ form.email.label_tag }} {{ form.email }}
                        </div>
                        <div class="col-12 form-group">
                            {{ form.phone_number.label_tag }} {{ form.phone_number }}
                        </div>
                        <div class="col-12 form-group">
                            {{ form.image.label_tag }} {{ form.image }}
                        </div>
                        <div class="col-12 form-group">
                            {{ form.message.label_tag }} {{ form.message }}
                        </div>
                        <div class="col-12 mt-30">
                            <button type="submit" class="butn butn-md butn-bord butn-rounded">
                                <div class="d-flex align-items-center">
                                    <span>Submit Testimony</span>
                                    <span class="icon ml-10">
                                        <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                    </span>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}