{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

    <header class="header-pg">
        <div class="container">
            <div class="text-center">
                <div class="caption mb-100">
                    <h1>Share Your Testimony</h1>
                    <h6>( <a href="{% url 'base:home' %}">Home</a> - <span>Testimony</span> )</h6>
                </div>
            </div>
        </div>
    </header>

    <section class="contact-pg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 valign">
                    <div class="full-width md-mb80">
                        <div class="sec-head md-mb80">
                            <h2 class="text-u">
                                Share Your <br> <span class="fw-200">Experience</span>
                            </h2>
                            <p class="mt-20 mb-20">
                                Your voice is our inspiration. Let your honest feedback and personal story empower others to choose excellence!
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="morinfo mt-30">
                                        <h6 class="mb-15">Address</h6>
                                        <p>
                                            {{ settings.address }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="morinfo mt-30">
                                        <h6 class="mb-15">Email</h6>
                                        <p>
                                            {{ settings.email }}
                                        </p>
                                        <p>
                                            {{ settings.second_email }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="phone fz-30 fw-600 mt-30 underline main-color">
                                <a href="{{ settings.phone_number }}">{{ settings.phone_number }}</a>
                            </div>
                        </div>
                        <ul class="rest social-text d-flex mt-60 fz-16">
                            <li class="mr-30">
                                <a href="{{ settings.twitter }}" class="hover-this"><span class="hover-anim">Twitter</span></a>
                            </li>
                            <li class="mr-30">
                                <a href="{{ settings.linkedin }}" class="hover-this"><span class="hover-anim">LinkedIn</span></a>
                            </li>
                            <li>
                                <a href="{{ settings.instagram }}" class="hover-this"><span class="hover-anim">Instagram</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 valign">
                    <div class="full-width">
                        <div class="sec-head mb-50">
                            <h6 class="sub-head">Share Your <span class="fw-200">Testimony</span></h6>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="messages"></div>
                            <div class="controls row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-30">
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-30">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-30">
                                        {{ form.phone_number }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-30">
                                        {{ form.image }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form.message }}
                                    </div>
                                    <div class="mt-30">
                                        <button type="submit" class="butn butn-md butn-bord butn-rounded">
                                            <div class="d-flex align-items-center">
                                                <span>Submit Testimony</span>
                                                <span class="icon ml-10">
                                                    <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                                </span>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}