<footer>
    <div class="container">
        <div class="top-content text-center wow fadeInUp slow" data-wow-delay="0.4s">
            <h2> <a href="">Get In Touch</a> </h2>
            <h6 class="float_txt js-title"> Connect </h6>
        </div>
        <div class="main-content">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit <br> amet consectetur adipisicing elit. Quaerat, blanditiis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <a href="+250781862349" class="contact-number fz-60">+250 781 862 349</a>
                    <ul class="fz-18 mt-30 rest">
                        <li class="mb-15">
                            <a href="info@nexcode.com">
                                info@nexcode.com
                            </a>
                        </li>
                        <li>
                            <a href="#"> 
                                Kigali Rwanda, La Bonne Address Building
                            </a>
                        </li>
                    </ul>
                    <div class="social-icons">
                        <a href="#"> <i class="fa-brands fa-facebook-f"></i> </a>
                        <a href="#"> <i class="fa-brands fa-x-twitter"></i> </a>
                        <a href="#"> <i class="fa-brands fa-behance"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>