<footer>
    <div class="container">
        <div class="top-content text-center wow fadeInUp slow" data-wow-delay="0.4s">
            <h2> <a href="">Get In Touch</a> </h2>
            <h6 class="float_txt js-title"> Connect </h6>
        </div>
        <div class="main-content">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="text">
                        <p>
                            NE<span style="color: red; font-weight: bold;">X</span>CODE is a Rwanda-based digital agency transforming ideas into exceptional software, apps, and designs since 2020.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <a href="#" class="contact-number fz-60">
                        {{ settings.phone_number }}
                    </a>
                    <ul class="fz-18 mt-30 rest">
                        <li class="mb-15">
                            <a href="#">
                                {{ settings.email }}
                            </a>
                        </li>
                        <li class="mb-15">
                            <a href="#">
                                {{ settings.second_email }}
                            </a>
                        </li>
                        <li>
                            <a href="#"> 
                                {{ settings.address }}
                            </a>
                        </li>
                    </ul>
                    <div class="social-icons">
                        <a href="{{ settings.twitter }}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
                        <a href="{{ settings.instagram }}" target="_blank"> <i class="fa-brands fa-x-twitter"></i> </a>
                        <a href="{{ settings.linkedin }}" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a>
                        <a href="{{ settings.github }}" target="_blank"> <i class="fa-brands fa-github"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>