{% load static %}
<header class="header-ca">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <h1>Software built around your business</h1>
            </div>
            <div class="col-lg-4">
                <p class="mt-30">From Kigali, we build websites, mobile apps and business systems that turn everyday tasks into simpler workflows.</p>
                <a href="{% url 'base:services' %}" class="butn-under mt-30">Explore our services</a>
            </div>
        </div>
        <div class="mt-60 hero-image">
            <img src="{% static 'img/hero/4.jpg' %}"
                 alt=""
                 width="1600"
                 height="900"
                 fetchpriority="high">
        </div>
    </div>
</header>
