{% load static %}
<div class="hamenu">
    <div class="close-menu cursor-pointer ti-close"></div>
    <div class="container-fluid rest d-lg-flex">
        <div class="menu-links">
            <ul class="main-menu rest">
                <li>
                    <div class="o-hidden">
                        <a href="{% url 'base:home' %}" class="link"><span class="fill-text" data-text="Home">Home</span></a>
                        <a href="{% url 'base:about' %}" class="link"><span class="fill-text" data-text="About Us">About Us</span></a>
                        <a href="{% url 'base:services' %}" class="link"><span class="fill-text" data-text="Our Services">Our Services</span></a>
                        <a href="{% url 'base:portfolio' %}" class="link"><span class="fill-text" data-text="Our Work">Our Work</span></a>
                        <a href="{% url 'base:team' %}" class="link"><span class="fill-text" data-text="Our Team">Our Team</span></a>
                        <a href="{% url 'base:blogs' %}" class="link"><span class="fill-text" data-text="News">News</span></a>
                        <a href="{% url 'base:contact' %}" class="link"><span class="fill-text" data-text="Contact Us">Contact Us</span></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cont-info valign">
            <div class="text-center full-width">
                <div class="logo">
                    <img src="{{ settings.icon_white_logo.url }}" alt="" style="width: 60px;">
                </div>
                <div class="social-icon mt-40">
                    <a href="{{ settings.twitter }}"> <i class="fab fa-x-twitter"></i> </a>
                    <a href="{{ settings.linkedin }}"> <i class="fab fa-linkedin-in"></i> </a>
                    <a href="{{ settings.instagram }}"> <i class="fab fa-instagram"></i> </a>
                    <a href="{{ settings.github }}"> <i class="fab fa-github"></i> </a>
                </div>
                <div class="item mt-30">
                    <h5>
                        {{ settings.address }}
                    </h5>
                </div>
                <div class="item mt-10">
                    <h5>
                        <a href="{{ settings.email }}">
                            {{ settings.email }}
                        </a>
                    </h5>
                    <h5>
                        <a href="{{ settings.second_email }}">
                            {{ settings.second_email }}
                        </a>
                    </h5>
                    <h5 class="underline">
                        <a href="{{ settings.phone_number }}">
                            {{ settings.phone_number }}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>