{% load static %}
<div class="hamenu">
    <div class="close-menu cursor-pointer ti-close"></div>
    <div class="container-fluid rest d-lg-flex">
        <div class="menu-links">
            <ul class="main-menu rest">
                <li>
                    <div class="o-hidden">
                        <a href="#" class="link"><span class="fill-text"
                                data-text="Contact Us">Contact Us</span></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cont-info valign">
            <div class="text-center full-width">
                <div class="logo">
                    <img src="{% static 'img/logo-light.svg' %}" alt="">
                </div>
                <div class="social-icon mt-40">
                    <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                    <a href="#"> <i class="fab fa-x-twitter"></i> </a>
                    <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                </div>
                <div class="item mt-30">
                    <h5>Kigali Rwanda, <br> La Bonne Address Building</h5>
                </div>
                <div class="item mt-10">
                    <h5><a href="info@nexcode.com">info@nexcode.com</a></h5>
                    <h5 class="underline"><a href="+250781862349">+250 781 862 349</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>