{% load static %}

<nav class="navbar navbar-expand-lg">
    <div class="container">

        <!-- Logo -->
        <a class="logo" href="#">
            <img src="{% static 'img/logo-light.svg' %}" alt="logo">
        </a>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:team' %}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base:blogs' %}">News</a>
                </li>
            </ul>
        </div>
        <div class="topnav d-flex align-items-center">
            <a href="{% url 'base:contact' %}" class="butn butn-rounded">
                <div class="d-flex align-items-center">
                    <span>Start Project</span>
                    <span class="icon ml-10">
                        <img src="{% static 'img/icons/arrow-top-right.svg' %}" alt="">
                    </span>
                </div>
            </a>
            <div class="menu-icon cursor-pointer">
                <span class="icon ti-align-right"></span>
            </div>
        </div>
    </div>
</nav>