{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

    <header class="header-pg">
        <div class="container">
            <div class="text-center">
                <div class="caption mb-100">
                    <h1>Portfolio</h1>
                    <h6>( <a href="{% url 'base:home' %}">Home</a> - <span>Portfolio</span> )</h6>
                </div>
            </div>
        </div>
    </header>

    <section class="work-card section-padding">
        <div class="container">
            <div class="cards">
                {% for work in portfolio %}
                    <div class="card-item">
                        <div class="d-lg-flex align-items-end">
                            <div>
                                <div class="tags">
                                    {% for tag in work.tags.all %}
                                        <a href="{% url 'base:workDetails' work.slug %}">
                                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                                <h3 class="title">
                                    <a href="{% url 'base:workDetails' work.slug %}">
                                        {{ work.name }}
                                    </a>
                                </h3>
                            </div>
                            <div class="ml-auto">
                                <a href="{% url 'base:workDetails' work.slug %}" class="butn butn-md butn-bord butn-rounded">
                                    <div class="d-flex align-items-center">
                                        <span>View Project</span>
                                        <span class="icon invert ml-10">
                                            <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="img fit-img mt-30">
                            <img src="{{ work.big_image.url }}" alt="{{ work.name }}">
                        </div>
                    </div>
                {% empty %}
                    <h5 class="text-center">
                        Coming Soon
                    </h5>
                {% endfor %}
            </div>
            {% comment %} <div class="text-center mt-80">
                <a href="{% url 'base:portfolio' %}" class="butn butn-md butn-bord butn-rounded">
                    <div class="d-flex align-items-center">
                        <span>Check Our Portfolio</span>
                        <span class="icon invert ml-10">
                            <img src="https://uithemez.com/i/kyan/common/imgs/icons/arrow-top-right.svg" alt="">
                        </span>
                    </div>
                </a>
            </div> {% endcomment %}
        </div>
    </section>

{% endblock %}
